.footer {
    background-color: $negro;
    padding: 0;
    margin-top: 0;
    height: 35rem;
}
    .footer__logo{
    width:25rem;
    height: auto;
    }

    .footer__datos{
        margin-top: 2rem;
        margin-bottom: 0;
        margin-right: 2rem;
        float: right;
    
    
        .footer__item{
            color: $blanco;
            font-size: 14px;
            text-decoration: none;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
        }    
    
        
        .footer__icon {
        width: 5rem;
        height: auto;
    }
    
    }
